@import url('./layout.css');

body>nav ul {
    background-color: darkblue;
    justify-content: space-around;
    display: flex;


}

body>nav a {
    color: white;

}

body>nav li {
    justify-content: space-around;
    display: flex;
    padding: 2em;
}

h2 {
    background-color: gray;
    align-items: left;
    justify-content: left;
    

}

img {
    padding: 2em;

}